Repository hmcts/sscs-evidence-share, pull requests merged in 2019-08, with the labels that each got.

#206 Update address to 5 lines on template
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/OriginalSender60997PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/OriginalSender60997PlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderHelper.java
Labels: ns:sscs-evidence-share-pr-206

#208 Update sidam config
  src/main/resources/application.yaml
Labels: ns:sscs-evidence-share-pr-208

#210 SSCS-6221 Handle robotics for resentToGaps2 event
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs-evidence-share-pr-210

#207 Sscs 6080 issue further evidence other parties
  609-98-template (other parties)appellantLetterCoverLetter.pdf
  609-98-template (other parties)dwpLetterCoverLetter.pdf
  Jenkinsfile_CNP
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueAppellantAppointeeFurtherEvidenceHandlerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/IssueFurtherEvidenceServiceIt.java
  src/integrationTest/resources/issueFurtherEvidenceCallback.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithAppellantEvidenceAndRepEvidence.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithRep.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithRepEvidence.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueAppellantAppointeeFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueRepsFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/DwpAddress.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/FurtherEvidenceLetterType.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CoverLetterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsDocumentService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/TemplateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/OriginalSender60997PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/CallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueAppellantAppointeeFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CoverLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/OriginalSender60997PlaceholderServiceTest.java
Labels: ns:sscs-evidence-share-pr-207

#214 SSSCS-6322 Use Exela contact address
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/placeholders/Dl6AndDl16PlaceholderServiceIt.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/ExelaAddressConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/DocumentRequestFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CoverLetterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookup.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/CommonPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/Dl6AndDl16PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/DwpAddressPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/RpcPlaceholderService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/DocumentRequestFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CoverLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookupTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/DwpAddressPlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderServiceTest.java
Labels: ns:sscs-evidence-share-pr-214

#200 Clear hmcts error state before running bulk print
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs-evidence-share-pr-200

#221 SSCS-6255 Reference data – Update sscs-venues.csv (change needed by 1…
  build.gradle
Labels: ns:sscs-evidence-share-pr-221

#219 SSCS-6323 Handle DWP original sender
  609-98-template (other parties)appellantLetterCoverLetter.pdf
  609-98-template (other parties)dwpLetterCoverLetter.pdf
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/IssueFurtherEvidenceServiceIt.java
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithDwpEvidence.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithRepAndEvidenceFromDwp.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookup.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookupTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceServiceTest.java
Labels: ns:sscs-evidence-share-pr-219

#217 SSCS-6264 - update sscs_common version
  build.gradle
Labels: ns:sscs-evidence-share-pr-217

#225 Turn the bulk print feature flag to on for prod
  infrastructure/prod.tfvars
Labels: ns:sscs-evidence-share-pr-225

#220 SSCS-6176 - remove phone number validation
  src/main/resources/schema/sscs-robotics.json
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonValidatorTest.java
Labels: ns:sscs-evidence-share-pr-220

#223 SSCS-6321 Truncate long Docmosis name
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderUtility.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderServiceTest.java
Labels: ns:sscs-evidence-share-pr-223

#227 SSCS-6301 Skip bulk print service when running local profile
  README.md
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DummyBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/PrintService.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/DummyBulkPrintServiceTest.java
Labels: ns:sscs-evidence-share-pr-227

#230 Sscs 6387 robotics count
  charts/sscs-evidence-share/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
Labels: ns:sscs-evidence-share-pr-230

#239 SSCS-6407 Use case code field in robotics
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
Labels: ns:sscs-evidence-share-pr-239

#228 SSCS-6384 Evidence share – Amend Robotics JSON date
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
Labels: ns:sscs-evidence-share-pr-228

#229 SSCS-6235 Stop attaching bulk scan evidence
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
Labels: ns:sscs-evidence-share-pr-229
