Repository hmcts/sscs-evidence-share, pull requests merged in 2019-05, with the labels that each got.

#81 Remove PR bump
  Jenkinsfile_CNP
Labels: ns:sscs-evidence-share-pr-81

#82 helm charts
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/requirements.yaml
  charts/sscs-evidence-share/values.aat.template.yaml
  charts/sscs-evidence-share/values.template.yaml
  kubernetes/deployment.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-evidence-share-pr-82

#47 SSCS-5451 - Use test dwp address for a dwpIssuingOffice that is 'test-hmcts-address'
  infrastructure/main.tf
  infrastructure/output.tf
  src/e2e/resources/appealCreatedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookup.java
  src/main/resources/dwpAddresses.json
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookupTest.java
Labels: ns:sscs-evidence-share-pr-47

#88 bootstrap yaml change
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-evidence-share-pr-88

#85 helm hmcts/java upgrade
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/requirements.yaml
  charts/sscs-evidence-share/values.aat.template.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/FunctionalTestController.java
  src/main/resources/application.yaml
Labels: ns:sscs-evidence-share-pr-85

#91 Move Docmosis vault vaules to sscs vault version 2
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/sscs-evidence-share/values.yaml
  infrastructure/main.tf
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-evidence-share-pr-91

#86 SSCS-5476 Sent to DWP event
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/config/EvidenceShareConfigTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/EvidenceShareConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/FunctionalTestController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
Labels: ns:sscs-evidence-share-pr-86

#95 SSCS-5451 Send docs to bulk print in the correct order
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/integrationTest/resources/appealReceivedCallbackWithMrn.json
  src/integrationTest/resources/appealReceivedCallbackWithMrnAndExistingBundles.json
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
Labels: ns:sscs-evidence-share-pr-95

#97 Use demo subscription for PRs
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
Labels: ns:sscs-evidence-share-pr-97

#100 Remove version numbers from dl docs
  src/main/resources/application.yaml
Labels: ns:sscs-evidence-share-pr-100

#106 SSCS-5560 - Track and handle unrecoverable evidence share errors (MVP)
  build.gradle
  charts/sscs-evidence-share/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/DwpAddressLookupException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/NoMrnDetailsException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/PdfStoreException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookup.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/TemplateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocumentPlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookupTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs-evidence-share-pr-106

#108 Deprecate apt
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:sscs-evidence-share-pr-108

#104 SSCS-5693 Move robotics code to evidence share
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/sscs-evidence-share/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/resources/appealCreatedCallback.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/integrationTest/resources/appealReceivedCallback.json
  src/integrationTest/resources/appealReceivedCallbackWithMrn.json
  src/main/java/uk/gov/hmcts/reform/sscs/SscsEvidenceShareApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsHandlerTest.java
Labels: ns:sscs-evidence-share-pr-104

#113 Sscs 5607 filter sya cases
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
Labels: ns:sscs-evidence-share-pr-113
