Repository hmcts/sscs-evidence-share, pull requests merged in 2019-10, with the labels that each got.

#317 Try fix config
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-evidence-share-pr-317

#318 fix hardwired SSL trust setting, refactor smtp config
  src/main/java/uk/gov/hmcts/reform/sscs/SscsEvidenceShareApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SmtpConfig.java
Labels: ns:sscs-evidence-share-pr-318

#323 Add logging to robotics
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
Labels: ns:sscs-evidence-share-pr-323

#322 SSCS-6624 TYA – Hearing details page isn’t populated with dynamic dat…
  build.gradle
Labels: ns:sscs-evidence-share-pr-322

#324 Fix NPE around hasRep
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
Labels: ns:sscs-evidence-share-pr-324

#313 SSCS-6649 Set robotics dwp response date
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
Labels: ns:sscs-evidence-share-pr-313

#305 SSCS-6479 - Dwp Upload Response
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandlerTest.java
Labels: ns:sscs-evidence-share-pr-305

#335 Remove old terraform files after aks migration
  infrastructure/aat.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/test_config.tf
Labels: ns:sscs-evidence-share-pr-335

#340 Add dependabot config
  .dependabot/config.yml
Labels: ns:sscs-evidence-share-pr-340

#334 SSCS-6669 - add DirectionType
  build.gradle
Labels: ns:sscs-evidence-share-pr-334

#341 Remove consul dns group variable
  infrastructure/variables.tf
Labels: ns:sscs-evidence-share-pr-341

#338 SSCS-6796 Robotics – Change the way that the pipNumber is populated i…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
Labels: ns:sscs-evidence-share-pr-338

#343 Consul dns group
  charts/sscs-evidence-share/requirements.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
Labels: ns:sscs-evidence-share-pr-343

#339 SSCS-6797 Appeal received event for digital cases
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealReceivedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealReceivedHandlerTest.java
Labels: ns:sscs-evidence-share-pr-339
