Repository hmcts/sscs-evidence-share, pull requests merged in 2019-11, with the labels that each got.

#348 Fix npe for dl6
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapper.java
Labels: ns:sscs-evidence-share-pr-348

#362 sscs-6928 Deploy to ASE demo
  Jenkinsfile_CNP
Labels: ns:sscs-evidence-share-pr-362

#354 SSCS-6839 Appeal to proceed event
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AppealToProceedFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueAppellantAppointeeFurtherEvidenceHandlerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueDirectionFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReissueAppellantAppointeeFurtherEvidenceHandlerFunctionalTest.java
  src/e2e/resources/appealToProceedCallback.json
  src/e2e/resources/directionIssuedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealToProceedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealReceivedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealToProceedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs-evidence-share-pr-354

#360 SSCS-6639 Stop sending digital cases to bulk print
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/resources/sendToDwpCallback.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/integrationTest/resources/sendToDwpCallback.json
  src/integrationTest/resources/sendToDwpCallbackWithMrn.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs-evidence-share-pr-360

#357 SSCS-6380 Only send robotics if createdInGaps field matches state
  src/integrationTest/resources/sendToDwpCallback.json
  src/integrationTest/resources/sendToDwpCallbackWithMrn.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs-evidence-share-pr-357

#366 Enable ase demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:sscs-evidence-share-pr-366

#365 SSCS-6783 Default the ready to list fields for robotics
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
Labels: ns:sscs-evidence-share-pr-365

#371 enable ready to list on demo
  infrastructure/demo.tfvars
Labels: ns:sscs-evidence-share-pr-371

#367 SSCS-6931 Issue direction post valid states
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandlerTest.java
Labels: ns:sscs-evidence-share-pr-367

#373 Use created in gaps for feature flag
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealReceivedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandlerTest.java
Labels: ns:sscs-evidence-share-pr-373

#370 SSCS-6791 SYA/tribunal case API – Change Norwich DRT to Sheffield DRT…
  build.gradle
Labels: ns:sscs-evidence-share-pr-370

#374 Add missing fields to java model
  build.gradle
Labels: ns:sscs-evidence-share-pr-374

#377 SSCS-6885 Bulk print – Don’t send files to be bulk printed if there i…
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/NoDl6DocumentException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs-evidence-share-pr-377
