Repository hmcts/sscs-evidence-share, pull requests merged in 2019-12, with the labels that each got.

#329 SSCS-6694 Evidence share – Placeholder NullPointerException
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderServiceTest.java
Labels: ns:sscs-evidence-share-pr-329

#379 SSCS-6975 Reference data – Update SSCS venue data 02-12-19
  build.gradle
Labels: ns:sscs-evidence-share-pr-379

#382 Enable ready to list robotics on prod
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
Labels: ns:sscs-evidence-share-pr-382

#380 SSCS-6640 Stop bulk printing to DWP
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/IssueFurtherEvidenceServiceIt.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/ReissueFurtherEvidenceServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReissueFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReissueFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceServiceTest.java
Labels: ns:sscs-evidence-share-pr-380

#386 SSCS-6999 change englishCount to 3
  src/main/resources/application.yaml
Labels: ns:sscs-evidence-share-pr-386

#384 SSCS-6869 Set created in GAPS from field
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
  src/e2e/resources/sendToDwpCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs-evidence-share-pr-384

#385 SSCS-6993 Handle resend to dwp event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs-evidence-share-pr-385

#390 Change dm store url
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueAppellantAppointeeFurtherEvidenceHandlerFunctionalTest.java
  src/e2e/resources/issueFurtherEvidenceCallback.json
  src/e2e/resources/reissueFurtherEvidenceCallback.json
  src/integrationTest/resources/issueFurtherEvidenceCallback.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithAppellantEvidenceAndRepEvidence.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithDwpEvidence.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithRep.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithRepAndEvidenceFromDwp.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithRepEvidence.json
Labels: ns:sscs-evidence-share-pr-390

#378 SSCS-6236
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AppealToProceedFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueDirectionFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueFurtherEvidenceHandlerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReissueAppellantAppointeeFurtherEvidenceHandlerFunctionalTest.java
  src/e2e/resources/issueFurtherEvidenceFaultyCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/IssueFurtherEvidenceException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/PostIssueFurtherEvidenceTasksException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CoverLetterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/MockBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/HandlerHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/MockBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs-evidence-share-pr-378
