Repository hmcts/sscs-evidence-share, pull requests merged in 2019-09, with the labels that each got.

#249 Use 1.9.4 beanutils
  build.gradle
  src/main/resources/application.yaml
Labels: ns:sscs-evidence-share-pr-249

#248 SSCS-6328 Add SC number to footer of further evidence cover sheets
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderServiceTest.java
Labels: ns:sscs-evidence-share-pr-248

#250 Enable AKS staging deployment
  Jenkinsfile_CNP
  charts/sscs-evidence-share/values.aat.template.yaml
Labels: ns:sscs-evidence-share-pr-250

#252 Remove config from aat template
  charts/sscs-evidence-share/values.aat.template.yaml
  charts/sscs-evidence-share/values.yaml
Labels: ns:sscs-evidence-share-pr-252

#238 SSCS-6330 - Reissue to selected parties
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReissueAppellantAppointeeFurtherEvidenceHandlerFunctionalTest.java
  src/e2e/resources/reissueFurtherEvidenceCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReissueFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReissueFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceServiceTest.java
Labels: ns:sscs-evidence-share-pr-238

#241 SSCS-6010 Move DWP offices json to common library
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/domain/BenefitLookup.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/DwpAddress.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/DocumentRequestFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookup.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/main/resources/dwpAddresses.json
  src/test/java/uk/gov/hmcts/reform/sscs/domain/DwpAddressTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/DocumentRequestFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookupTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderServiceTest.java
Labels: ns:sscs-evidence-share-pr-241

#256 Change aat service bus from demo
  charts/sscs-evidence-share/values.aat.template.yaml
Labels: ns:sscs-evidence-share-pr-256

#257 Readd removed config values
  charts/sscs-evidence-share/values.aat.template.yaml
Labels: ns:sscs-evidence-share-pr-257

#259 SSCS-6477 Ready to list robotics
  build.gradle
  charts/sscs-evidence-share/values.aat.template.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/integrationTest/resources/sendToDwpCallbackWithMrn.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/domain/RoboticsWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/main/resources/application.yaml
  src/main/resources/schema/sscs-robotics.json
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
Labels: ns:sscs-evidence-share-pr-259

#270 Update config to point at cnp-module-webapp
  infrastructure/main.tf
Labels: ns:sscs-evidence-share-pr-270

#278 Improvements to the chart for aks migration
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/requirements.yaml
  charts/sscs-evidence-share/values.aat.template.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-evidence-share-pr-278

#277 Bump org.springframework.boot from 2.1.6.RELEASE to 2.1.8.RELEASE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs-evidence-share-pr-277

#279 Remove default amqb password
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:sscs-evidence-share-pr-279

#281 Revert password to env var standard
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-evidence-share-pr-281

#283 Update the preview service bus topic and subscription
  charts/sscs-evidence-share/values.preview.template.yaml
Labels: ns:sscs-evidence-share-pr-283

#290 Revert change to hmcts maven
  build.gradle
Labels: ns:sscs-evidence-share-pr-290

#273 SSCS-6547 UC changes for Robotics
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
Labels: ns:sscs-evidence-share-pr-273

#267 SSCS-6476 - update sscs-common version
  build.gradle
Labels: ns:sscs-evidence-share-pr-267

#282 Disable properties prefix
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-evidence-share-pr-282

#280 SSCS-6454 - upgrade common lib
  build.gradle
Labels: ns:sscs-evidence-share-pr-280

#302 AKS live
  Jenkinsfile_CNP
Labels: ns:sscs-evidence-share-pr-302

#303 SSCS-6678 - update to versioned lib
  build.gradle
Labels: ns:sscs-evidence-share-pr-303

#298 SSCS-6381 - Ready to list event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs-evidence-share-pr-298

#274 cleanup of ase after aks migration
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
Labels: ns:sscs-evidence-share-pr-274

#306 Add config for ingress host
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/requirements.yaml
  charts/sscs-evidence-share/values.yaml
Labels: ns:sscs-evidence-share-pr-306

#307 Update Docker file
  Dockerfile
  build.gradle
Labels: ns:sscs-evidence-share-pr-307

#311 SSCS-6699 - Dwp response cleared
  build.gradle
Labels: ns:sscs-evidence-share-pr-311

#300 SSCS-6288 Ready to list Robotic updates
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/main/resources/schema/sscs-robotics.json
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonValidatorTest.java
Labels: ns:sscs-evidence-share-pr-300
