Repository hmcts/sscs-evidence-share, pull requests merged in 2019-07, with the labels that each got.

#158 turn on send to dwp
  infrastructure/prod.tfvars
Labels: ns:sscs-evidence-share-pr-158

#124 Flag bulk print errors in dwp secondary state field
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/BulkPrintException.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/BulkPrintInfo.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs-evidence-share-pr-124

#167 turn on the rpcemail
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/e2e/resources/appealCreatedCallback.json
  src/main/resources/application.yaml
Labels: ns:sscs-evidence-share-pr-167

#170 SSCS-6079 Feature flag bulk print tasks
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
Labels: ns:sscs-evidence-share-pr-170

#155 Add AI Agent Configuration
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:sscs-evidence-share-pr-155

#173 SSCS-6077: Scotland-Robot
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/sscs-evidence-share/values.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-evidence-share-pr-173

#190 SSCS-6161 - fix build pipeline issue
  build.gradle
Labels: ns:sscs-evidence-share-pr-190

#181 SSCS-6114 Refactor evidence share to have handlers
  build.gradle
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  lib/AI-Agent.xml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
  src/e2e/resources/sendToDwpCallback.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/integrationTest/resources/sendToDwpCallback.json
  src/integrationTest/resources/sendToDwpCallbackWithMrn.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/CallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/email/RoboticsEmailTemplate.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/domain/RoboticsWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/exception/RoboticsValidationException.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/resources/application.yaml
  src/main/resources/schema/sscs-robotics.json
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
  src/test/resources/schema/valid_robotics_agreed.json
Labels: ns:sscs-evidence-share-pr-181

#179 SSCS-6016 Set evidence issued field to yes once bulk printed
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs-evidence-share-pr-179

#192 SSCS-6071 - update sscs_common version
  build.gradle
Labels: ns:sscs-evidence-share-pr-192

#196 SSCS-6111 Make dwp address lookup case insensitive
  src/main/java/uk/gov/hmcts/reform/sscs/domain/BenefitLookup.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookup.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookupTest.java
Labels: ns:sscs-evidence-share-pr-196

#197 Record bulk print id
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs-evidence-share-pr-197

#198 Add a case identifier to additional data
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BulkPrintServiceTest.java
Labels: ns:sscs-evidence-share-pr-198

#201 Update Xerox parameter to SSCS001
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintService.java
Labels: ns:sscs-evidence-share-pr-201

#202 SSCS-6103 Update image location to hmctspublic
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/requirements.yaml
  charts/sscs-evidence-share/values.yaml
Labels: ns:sscs-evidence-share-pr-202

#203 SSCS-6023 - Copy Keiths code
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/pdf/PdfACompliance.java
  src/main/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarker.java
  src/main/resources/pdfa/sRGB.icc
  src/test/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarkerTest.java
Labels: ns:sscs-evidence-share-pr-203

#204 Reverts PR 203
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/pdf/PdfACompliance.java
  src/main/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarker.java
  src/main/resources/pdfa/sRGB.icc
  src/test/java/uk/gov/hmcts/reform/sscs/pdf/PdfWatermarkerTest.java
Labels: ns:sscs-evidence-share-pr-204
