Repository hmcts/sscs-evidence-share, pull requests merged in 2019-06, with the labels that each got.

#107 SSCS-5603 list documents sent to bulk print service
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
Labels: ns:sscs-evidence-share-pr-107

#114 SSCS-5699 Stop DL templates from being regenerated multiple times
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapperTest.java
Labels: ns:sscs-evidence-share-pr-114

#117 SSCS-5795 Handle valid appeal state
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceTest.java
Labels: ns:sscs-evidence-share-pr-117

#120 Force vault to take latest asb key
  infrastructure/main.tf
  infrastructure/prod.tfvars
Labels: ns:sscs-evidence-share-pr-120

#118 SSCS-5595 - retry and log better retry messages.
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs-evidence-share-pr-118

#123 Test
  infrastructure/main.tf
Labels: ns:sscs-evidence-share-pr-123

#137 Enable scheduling for service
  src/main/java/uk/gov/hmcts/reform/sscs/SscsEvidenceShareApplication.java
Labels: ns:sscs-evidence-share-pr-137

#146 Set tf bulk print feature flag values
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
Labels: ns:sscs-evidence-share-pr-146

#148 Improve log message
  src/main/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareService.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
Labels: ns:sscs-evidence-share-pr-148

#159 add office to the json file
  src/main/resources/dwpAddresses.json
  src/test/java/uk/gov/hmcts/reform/sscs/service/DwpAddressLookupTest.java
Labels: ns:sscs-evidence-share-pr-159
