Repository hmcts/sscs-evidence-share, pull requests merged in 2020-10, with the labels that each got.

#660 SSCS-8198 Hearing subtype robotics
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-660

#664 SSCS-8203-2 Add message id to topic consumer logs
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/IssueFurtherEvidenceServiceIt.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/ReissueFurtherEvidenceServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/FunctionalTestController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/test/java/uk/gov/hmcts/reform/sscs/controllers/FunctionalTestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-664

#667 SSCS-7810 Handle cover letter service failures to be unrecoverable
  src/main/java/uk/gov/hmcts/reform/sscs/service/CoverLetterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/CoverLetterServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-667

#668 SSCS-8213: Tech debt – Upgrade Owasp to 6.x
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-668

#670 SSCS-8225: Robotics / Common – Representative name is causing validat…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-670

#678 SSCS-8185 Set confidential case flag in robotics
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-678

#688 SSCS-8297 Evidence share smoke test
  src/smokeTest/java/uk/gov/hmcts/reform/sscs/SmokeTest.java
  src/smokeTest/resources/smokeTestCallback.json
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReciprocalLinkHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controllers/FunctionalTestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/DocumentRequestFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-688

#671 Sscs 7994 joint party added
  build.gradle
  charts/sscs-evidence-share/values.aat.template.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/CaseUpdatedHandlerFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/DwpUploadFunctionalTest.java
  src/e2e/resources/caseUpdatedCallback.json
  src/e2e/resources/dwpUploadResponseCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/CaseUpdatedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/HandlerUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/CaseUpdatedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/HandlerHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/HandlerUtilsTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-671

#692 remove env vars
  charts/sscs-evidence-share/values.aat.template.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-692

#693 Sscs 7994 joint party added fix
  charts/sscs-evidence-share/values.aat.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-693

#690 SSCS-8209: CCD UI – Handle urgent hearing case when DWP upload
  build.gradle
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-690

#698 added folder for reporting
  functional-output/test.txt
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-698

#689 SSCS-8214 upgrade sscs-common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-689

#702 re-enable flaky test
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueFurtherEvidenceHandlerFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-702
