Repository hmcts/sscs-evidence-share, pull requests merged in 2020-05, with the labels that each got.

#478 Send to dwp in submitted callback for valid appeal created sya cases
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToDwpHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToDwpHandlerTest.java
Labels: ns:sscs, rel:sscs-evidence-share-pr-478

#475 SSCS-7481 Sheffield DRT changes
  build.gradle
Labels: ns:sscs, rel:sscs-evidence-share-pr-475

#464 Remove reference in logs to generated nino
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReciprocalLinkHandler.java
Labels: ns:sscs, rel:sscs-evidence-share-pr-464

#494 Upgrade gradle to 6.4
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:sscs, rel:sscs-evidence-share-pr-494

#496 Bump common 3.2.29
  build.gradle
Labels: ns:sscs, rel:sscs-evidence-share-pr-496

#491 SSCS-7748 Handle missing representative names in cover letters
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReciprocalLinkHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CoverLetterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/MockBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReciprocalLinkHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderServiceTest.java
Labels: ns:sscs, rel:sscs-evidence-share-pr-491
