Repository hmcts/sscs-evidence-share, pull requests merged in 2020-11, with the labels that each got.

#687 Sscs 8237 dwp raise exception 2
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-687

#703 Dependency updates
  Dockerfile
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-703

#704 DTSPO-115 Add launchdarkly config
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-704

#694 SSCS-8330 Move to Elastic Search
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReciprocalLinkHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReciprocalLinkHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-694

#710 DTSPO-115 Store send-grid API key in vault
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/providers.tf
  infrastructure/variables.tf
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-710

#706 SSCS-8353 - Security Hotspot error to fix in evidence share API
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-706

#713 Fix sendgrid secret
  infrastructure/main.tf
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-713

#705 DTSPO-115 Sendgrid integration
  build.gradle
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.yaml
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/MtaSmtpConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SendGridSmtpConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/email/RequestTranslationTemplate.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/email/RoboticsEmailTemplate.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EmailSenderProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FeatureToggleService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/EmailServiceTest.java
  src/test/resources/application-default.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-705

#719 sscs 8369 move code to tribunals api
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/CaseUpdatedHandlerFunctionalTest.java
  src/e2e/resources/caseUpdatedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/CaseUpdatedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/CaseUpdatedHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-719

#716 SSCS-8348 - Update Venue Data
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-716

#732 Suppress for nightly build
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-732

#739 SSCS-7789 update common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-739
