Repository hmcts/sscs-evidence-share, pull requests merged in 2020-07, with the labels that each got.

#536 SSCS-7687 additional retries
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-536

#538 SSCS-7723 - Robotics – Generation of JSON fails on appointee post code
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-538

#539 SSCS-7725: Robotics – Stop sending extra documents to the robot
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-539

#555 SSCS-7702 - Upgrading to Java 11 - Evidence share
  Dockerfile
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-555

#564 fix security vulnerabilities
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-564

#541 SSCS-7751: IDAM/OIDC - get userInfo from token or from calling /o/use…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/SscsEvidenceShareApplication.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-541

#554 SSCS-7785 - Appeal to proceed event should go to robotics
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-554
