Repository hmcts/sscs-evidence-share, pull requests merged in 2020-01, with the labels that each got.

#401 fix build
  build.gradle
Labels: ns:sscs-evidence-share-pr-401

#402 SSCS-7047 SYA – OpenID connect – Validate the IDAM token that is retu…
  build.gradle
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
Labels: ns:sscs-evidence-share-pr-402

#404 SSCS-7090 Set new case DWP state
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueDirectionFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs-evidence-share-pr-404

#413 SSCS-7140 Update AirLookup to v10
  build.gradle
Labels: ns:sscs, rel:sscs-evidence-share-pr-413

#411 SSCS-6809 Changes to support new PIP AE office added by DWP
  build.gradle
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.preview.template.yaml
  charts/sscs-evidence-share/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/sscs/domain/email/RoboticsEmailTemplate.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
Labels: ns:sscs, rel:sscs-evidence-share-pr-411

#417 SSCS-7151-issue-direction-npe-fix
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandlerTest.java
Labels: ns:sscs, rel:sscs-evidence-share-pr-417
