Repository hmcts/sscs-evidence-share, pull requests merged in 2020-09, with the labels that each got.

#589 SSCS-7722 Use Robotics Validation from SSCS-Common
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/domain/RoboticsWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/exception/RoboticsValidationException.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonMapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/robotics/json/RoboticsJsonValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-589

#583 WLA-595: add secondary stop for SYA
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/config/DocmosisTemplateConfigTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/IssueFurtherEvidenceServiceIt.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/ReissueFurtherEvidenceServiceIt.java
  src/integrationTest/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RequestTranslationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/DocmosisTemplateConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/email/RequestTranslationTemplate.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/WelshException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RequestTranslationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/TemplateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RequestTranslationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RequestTranslationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/TemplateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-583

#620 SSCS-7806 - Processing documents for reinstatement requests
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-620

#641 SSCS-8119 Fixing bug
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-641

#610 SSCS-7860 UC robotic changes
  build.gradle
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.yaml
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/integrationTest/resources/config/application_it.properties
  src/main/resources/application.yaml
  src/main/resources/schema/sscs-robotics.json
  src/test/resources/schema/valid_robotics_agreed.json
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-610

#645 Upgrade terraform
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-645

#638 Wla 690
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReissueFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RequestTranslationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReissueFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RequestTranslationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-638

#572 SSCS-6788 - CCD UI – Send to DWP Error – increase info on comment
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/NoDl6DocumentException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/NonPdfBulkPrintException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/UnableToContactThirdPartyException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocumentManagementServiceWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-572
