Repository hmcts/sscs-evidence-share, pull requests merged in 2020-06, with the labels that each got.

#497 SSCS-7550: New AirLookup
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs, rel:sscs-evidence-share-pr-497

#512 SSCS-7587 - Upgrade java chart. Add renovate
  .github/renovate.json
  build.gradle
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/requirements.yaml
Labels: ns:sscs, rel:sscs-evidence-share-pr-512

#515 Remove redundant dependency suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, rel:sscs-evidence-share-pr-515

#516 SSCS-7418 Integrate HMCTS Java plugin
  build.gradle
Labels: ns:sscs, rel:sscs-evidence-share-pr-516

#502 SSCS-7531 Appeal to proceed - migrating callbacks
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AppealToProceedFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealToProceedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealToProceedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs, rel:sscs-evidence-share-pr-502

#508 Up sscs-common deps
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/IssueFurtherEvidenceHandlerFunctionalTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-508

#503 SSCS-7527: Remove the SendToDWP event from code
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
  src/e2e/resources/validAppealCreatedCallback.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/integrationTest/resources/validAppealCreatedCallback.json
  src/integrationTest/resources/validAppealCreatedCallbackWithMrn.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealReceivedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToDwpHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealReceivedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToDwpHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-503

#527 SSCS-7695 - Add more logging
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueDirectionHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-527

#530 SSCS-7712: Caseloader – Re-requesting a new IDAM token before updatin…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-530

#532 SSCS-7687 Add test re-runner
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/EvidenceShareFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-532
