Repository hmcts/sscs-evidence-share, pull requests merged in 2021-02, with the labels that each got.

#767 SSCS-8380: CCD UI – Action further evidence – action manually – addin…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-767

#807 SSCS-8620 - Issue Edited Docs to Joint Party
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/IssueFurtherEvidenceServiceIt.java
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithJointParty.json
  src/integrationTest/resources/issueFurtherEvidenceCallbackWithJointPartyAndEvidenceFromDwp.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/FurtherEvidenceLetterType.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueFurtherEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-807

#830 Sleep appeal received event to prevent 409 conflicts
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealReceivedHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-830

#834 ignore false positives
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-834

#831 SSCS-8684 - Upgrade Idam Client Only
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/SscsEvidenceShareApplication.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-831

#840 sscs 8757 new docmosis urls for staging
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.yaml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReissueAppellantAppointeeFurtherEvidenceHandlerFunctionalTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-840
