Repository hmcts/sscs-evidence-share, pull requests merged in 2021-01, with the labels that each got.

#774 suppress CVE-2020-8908 for a further month
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-774

#778 SSCS-8530: Robotics - send to robotics error
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-778

#796 SSCS-8431 Remove feature flags
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/DwpUploadResponseHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-796

#799 Sonar issue fix
  src/test/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-799

#793 SSCS-8593 - Issue Edited Docs to all Parties
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SscsDocumentService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsDocumentServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-793
