Repository hmcts/sscs-evidence-share, pull requests merged in 2021-05, with the labels that each got.

#942 dependency-check-suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-942

#923 SSCS-8900 - Attendance Allowance - Airlookup, DWP addresses & Robot Configuration
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-923

#901 sscs 8879 add dla dwp issue office
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-901

#951 sscs 9066 jitpack change
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-951

#957 Sscs 9066 jitpack
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-957

#934 SSCS-8870:CCD UI – Implement DWP due date field
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-934

#947 updated common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-947

#965 Suppress sec warning
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-965

#958 SSCS-9117 Revert review confidentiality for robotics
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-958

#968 add bean to set sameSite to lax
  audit.json
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/SscsEvidenceShareApplication.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-968

#969 Revert "add bean to set sameSite to lax"
  audit.json
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/SscsEvidenceShareApplication.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-969

#974 SSCS-8906 Bereavement benefit DWP mappings
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-974

#972 SSCS-9041 - CCD UI – Validate DWP originating and presenting office for the 'Response reviewed' event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/TemplateService.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-972

#952 SSCS-9122 Handle Robotics Gaps Duplicates
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-952
