Repository hmcts/sscs-evidence-share, pull requests merged in 2022-03, with the labels that each got.

#1242 SSCS-10236 updating helm chart version
  charts/sscs-evidence-share/Chart.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1242

#1236 sscs 10068 supp data
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ManualCaseCreatedFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/ManualCaseCreatedHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/HandlerHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/ManualCaseCreatedHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1236

#1260 SSCS-10280: Supress CVE warnings
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1260

#1262 SSCS-10297: suppressing dependencies
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1262

#1246 SSCS-10166-Upgrade/Fix poi and commons-beanutils vulnerabilities
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/service/SscsDocumentServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1246

#1269 Create CODEOWNERS
  CODEOWNERS
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1269

#1270 Revert "Revert "SSCS-10222 Gaps Route Splitting (#1261)" (#1268)"
  build.gradle
  src/contractTest/resources/application.properties
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/RoboticsCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1270
