Repository hmcts/sscs-evidence-share, pull requests merged in 2022-02, with the labels that each got.

#1218 update sscs-common
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/RoboticsServiceIt.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1218

#1230 surpress dependency
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1230

#1216 Sscs 9944: SSCS5 - Change DWP to FTA on EXUI: Next Step Events
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/EvidenceShareServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/AppealReceivedHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/UnableToContactThirdPartyException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FurtherEvidenceService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/RoboticsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SendToBulkPrintHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1216

#1232 upgrade charts
  charts/sscs-evidence-share/Chart.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1232

#1237 upgrading log4j to 2.17.1
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1237
