Repository hmcts/sscs-evidence-share, pull requests merged in 2023-04, with the labels that each got.

#1516 SSCS-11580 Fixing pipeline
  Dockerfile
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1516

#1480 SSCS-10978: initial implementation of send letter functionality
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/sscs/contract/DocumentServiceConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/service/DocmosisPdfGenerationIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueGenericLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CoverLetterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/FurtherEvidencePlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/GenericLetterPlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderUtility.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/messaging/MessagingConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueGenericLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CoverLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/GenericLetterPlaceholderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderHelper.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1480

#1531 Code coverage for SSCS-10978
  src/test/java/uk/gov/hmcts/reform/sscs/service/CoverLetterServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1531

#1532 Code coverage for SSCS-10978
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueGenericLetterHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1532

#1533 Revert "Update dependency com.launchdarkly:launchdarkly-java-server-sdk to v6.1.0"
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1533
