Repository hmcts/sscs-evidence-share, pull requests merged in 2024-02, with the labels that each got.

#1600 SSCSCI-638 - Issue redacted version of document through Reissue Further Evidence
  charts/sscs-evidence-share/Chart.yaml
  charts/sscs-evidence-share/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReissueFurtherEvidenceHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/ReissueFurtherEvidenceHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1600

#1607 SSCSCI-653: Name and Address SOR
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/ManualCaseCreatedFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/SorWriteHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/PlaceholderUtility.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/placeholders/SorPlaceholderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/IssueGenericLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/SorWriteHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CcdNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/placeholders/SorPlaceholderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1607

#1612 SSCSCI - send-letter-client upgrade
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-evidence-share-pr-1612
